main{
  padding-top: 80px;
  background-color: rgb(249, 236, 217);
}

.home-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.home-section img{
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.introduction-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(79, 79, 79, 0.642);
  backdrop-filter: blur(5px);
  height: 40%;
  width: 50%;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 5;
}

@media (max-width: 575px) {
  .introduction-container{
    height: 30%;
    width: 80%;
    padding: 20px;
  }
}

.introduction-container div{
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.introduction-title{
  font-weight: bold;
  font-size: 1.8em;
}

.introduction-contact-info{
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  gap: 20px;
}

.introduction-contact-info i{
  margin-left: 0px;
  margin-right: 10px;
}

.facebook{
  color: white;
  text-decoration: none;
  flex: auto;
}
.gmail{
  color: white;
  text-decoration: none;
  flex: auto;
}
.mobile-number{
  color: white;
  text-decoration: none;
  flex: auto;
}

.second-section{
  font-weight: bold;
  font-size: 2em;
  margin-left: 5vh;
}

.service-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 235, 155);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  padding: 5vh 2vh;
  margin: 1vh 5vh 5vh 5vh;

}

.service{
  width: 80%;
  border: none;
  background-color: rgb(249, 236, 217);
  margin: 10px;
}

.service-title{
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.service-container div{
  line-height: 3vh;
  margin-bottom: 10px;
  padding: 10px;
}

.third-section{
  font-weight: bold;
  font-size: 2em;
  margin-left: 5vh;
}

.contact-container{
  display: flex;
  margin: 2vh 5vh 5vh 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.contact-intro{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 2vh;
}

.contact-description{
  text-align: justify;
  margin-bottom: 2vh;
  font-size: 1.2em;
}

.contact-info{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.contact{
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  padding: 4vh;
  border-radius: 8px;
  flex: auto;
}

.contact i{
  font-size: 50px;
  margin-bottom: 8px;
}

